/* ---------------------
   HIỆU ỨNG TUYẾT RƠI
----------------------*/
/* Container phủ toàn màn hình */
.snow-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  overflow: hidden;
  z-index: 9999;
}

/* Bông tuyết */
.snow-flake {
  position: absolute;
  top: -50px;
  animation-name: snow-fall;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  opacity: 0.9;
}

/* Animation rơi xuống */
@keyframes snow-fall {
  0% {
    transform: translateY(-50px) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translateY(100vh) rotate(360deg);
    opacity: 0.4;
  }
}

/* ---------------------
   HIỆU ỨNG HỘP QUÀ RƠI
----------------------*/
/* .gift-rain {
  position: fixed;
  top: -150px;
  z-index: 999;
  pointer-events: none;
  animation-name: giftFall;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  border-radius: 68%; 
} */

/* @keyframes giftFall {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translateY(120vh) rotate(30deg);
    opacity: 0.4;
  }
} */

/* Santa chạy ngang  */
/*.santa {
  position: fixed;
  top: 80px;  chỉnh tùy ý nhưng không nên quá lớn 
  left: -300px;
  width: 200px;
  height: auto;
  z-index: 9999;
  pointer-events: none;
  animation: santa-move 9s linear infinite;
}

@keyframes santa-move {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(120vw);
  }
}
*/
.music-toggle-btn {
  position: fixed;
  bottom: 120px;
  right: 40px;
  width: 45px;
  height: 45px;
  background: linear-gradient(135deg, #ff4d4d, #ff9966);
  border-radius: 50%;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  transition: 0.25s ease-in-out;
}

/* Hiệu ứng khi hover */
.music-toggle-btn:hover {
  transform: scale(1.15);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.4);
}

/* Animation rung nhẹ */
.music-toggle-btn:active {
  transform: scale(0.9);
}

@keyframes pulseGlow {
  0% {
    transform: scale(1);
    box-shadow: 0 0 10px rgba(255, 120, 0, 0.4);
  }
  50% {
    transform: scale(1.15);
    box-shadow: 0 0 22px rgba(255, 140, 0, 0.9);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 10px rgba(255, 120, 0, 0.4);
  }
}
