/* ---------------------
   HIỆU ỨNG TUYẾT RƠI
----------------------*/
.snow-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  overflow: hidden;
  z-index: 9999;
}

.snow-flake {
  position: absolute;
  top: -20px;
  background: white;
  border-radius: 50%;
  animation-name: snowFall;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes snowFall {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(110vh);
    opacity: 0.5;
  }
}

/* ---------------------
   HIỆU ỨNG HỘP QUÀ RƠI
----------------------*/
.gift-rain {
  position: fixed;
  top: -150px;
  z-index: 9999;
  pointer-events: none;
  animation-name: giftFall;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  border-radius: 40%; /* 👉 bo góc ảnh */
}

@keyframes giftFall {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translateY(120vh) rotate(30deg);
    opacity: 0.4;
  }
}

/* Santa chạy ngang  */
/*.santa {
  position: fixed;
  top: 80px;  chỉnh tùy ý nhưng không nên quá lớn 
  left: -300px;
  width: 200px;
  height: auto;
  z-index: 9999;
  pointer-events: none;
  animation: santa-move 9s linear infinite;
}

@keyframes santa-move {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(120vw);
  }
}
*/
