/* ---------------------
   HIỆU ỨNG TUYẾT RƠI
----------------------*/
/* Container phủ toàn màn hình */
.snow-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  overflow: hidden;
  z-index: 9999;
}

/* Bông tuyết */
.snow-flake {
  position: absolute;
  top: -50px;
  animation-name: snow-fall;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  opacity: 0.9;
}

/* Animation rơi xuống */
@keyframes snow-fall {
  0% {
    transform: translateY(-50px) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translateY(100vh) rotate(360deg);
    opacity: 0.4;
  }
}

/* ---------------------
   HIỆU ỨNG HỘP QUÀ RƠI
----------------------*/
.gift-rain {
  position: fixed;
  top: -150px;
  z-index: 9999;
  pointer-events: none;
  animation-name: giftFall;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  border-radius: 40%; /* 👉 bo góc ảnh */
}

@keyframes giftFall {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translateY(120vh) rotate(30deg);
    opacity: 0.4;
  }
}

/* Santa chạy ngang  */
/*.santa {
  position: fixed;
  top: 80px;  chỉnh tùy ý nhưng không nên quá lớn 
  left: -300px;
  width: 200px;
  height: auto;
  z-index: 9999;
  pointer-events: none;
  animation: santa-move 9s linear infinite;
}

@keyframes santa-move {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(120vw);
  }
}
*/
